body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.logoContainer{
    padding-top: 5rem;
    height: 15vh;
}
h2{
    margin: 0;
    font-size: 4rem;
}

form{
    font-size: 1.5rem;
    display: grid;
    grid-template: 1fr 1fr / repeat(5, 6rem);
    grid-template-areas: 
        "titleL authorL pagesL readL ."
        "titleI authorI pagesI readI addB";
    height: 10vh;
}
label[for="title"] {
    grid-area: titleL;
}
label[for="author"] {
    grid-area: authorL;
}
label[for="pages"] {
    grid-area: pagesL;
}
label[for="read"] {
    grid-area: readL;
}
.add {
    grid-area: addB;
}
#title {
    grid-area: titleI;
}
#author {
    grid-area: authorI;
}
#pages {
    grid-area: pagesI;
}
#read {
    grid-area: readI;
}

.libraryContainer {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10rem, 10rem));
    height:75vh;
    width: 100%;
    justify-items: center;
}
.book {
    background-color:grey;
    width: min(40rem, 80%);
}